.info {
  margin-top: 7.5rem;
}
.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.info__content--two {
  margin-left: 6rem;
  padding-top: 5.625rem;
}
.info__title {
  font-family: "Recoleta Regular";
  line-height: 4.8125rem;
  font-size: 3rem;
}
.info__subtitle {
  margin-top: 1.5rem;
  font-size: 1rem;
  max-width: 43.75rem;
}
.info__btn {
  margin-top: 2.375rem;
}
.info__btn a {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.info__img--one {
  position: relative;
  z-index: 1;
}
.info__img--two {
  margin-top: 7.375rem;
  position: relative;
  z-index: 1;
}
.info__effects--rays {
  position: absolute;
  bottom: 3.125rem;
  right: -10rem;
  pointer-events: none;
}
.info__effects--star {
  position: absolute;
  bottom: -10.625rem;
  left: -4.375rem;
  pointer-events: none;
}
.info__effects--ellipseone {
  opacity: 75%;
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
  position: absolute;
  left: -6.25rem;
  bottom: -18.75rem;
  z-index: -1;
  pointer-events: none;
}
.info__effects--ellipsetwo {
  opacity: 75%;
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
  position: absolute;
  left: -18.75rem;
  bottom: 0px;
  z-index: -1;
  pointer-events: none;
}
.info__effects--ellipsethree {
  opacity: 75%;
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
  position: absolute;
  right: 0px;
  top: 6.25rem;
  z-index: -1;
  pointer-events: none;
}
.info__effects--ellipsethree img {
  max-width: 37.5rem;
}