// =========================== INFO SECTION =========================== //

.info{

    // margin-bottom: 104px;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__container--one{
        margin-right: 3rem;
    }

    &__container--two{
        margin-left: 3rem;
    }

    &__title{
        margin-top: 209px;
        font-family: $secondaryFFReuflar;
        line-height: 77px;
        font-size: 48px;
    }

    &__subtitle{
        margin-top: 24px;
        font-size: 1rem;
        width: 701px;
    }

    &__btn{
        
        margin-top: 38px;

        a{
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__img--one{
        position: relative;
        z-index: 1;
    }

    &__img--two{
        margin-top: 118px;
        position: relative;
        z-index: 1;
    }

    &__effects{

        &--rays{
            position: absolute;
            bottom: 50px;
            right: -160px;
        }

        &--star{
            position: absolute;
            bottom: -170px;
            left: -70px;
        }

        &--ellipse{
            
            &--one{
                opacity: 75%;
                filter: blur(5rem);
                position: absolute;
                left: -100px;
                bottom: -300px;
                z-index: 0;
            }

            &--two{
                opacity: 75%;
                filter: blur(5rem);
                position: absolute;
                left: -300px;
                bottom: -00px;
                z-index: 0;

            }

            &--three{
                img{
                    width: 600px;
                }

                opacity: 75%;
                filter: blur(5rem);
                position: absolute;
                right: 0px;
                top: 100px;
            }

        }
    }
}

// .test__info{
//     width: 100%;
//     background: #ECD8BD;
//     height: 500px;
// }