// ================== Цвета ================== //
$primaryColor: #212121;
$secondaryColor: #ecd8bd;
$lightGrayColor: #cacaca;
$grayColor: #9e9e9e;
$leadColor: #212121;

$whiteColor: #fff;
$blackColor: #000;



// ================== Шрифт ================== //
$mainFF: "Poppins";
$secondaryFFReuflar: "Recoleta Regular";
$secondaryFFLight: "Recoleta Light";


// ================== Параметры шрифта ================== //
$fzContentText: 1rem; //  1rem == 16px
$lineHeight: 1.625; // 1.625rem == 26px  



// ================== Тайминги ================== //
$standartMs: 0.3s;